:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5; /* CTAs, focused, active links */
  --pressed-state-color: #404bbf; /* CTAs */
  --dark-color: #2e2f42; /* Overlays, Shadows, Headinngs */
  --success-color: #31d0aa; /* Valid fields, success messages */
  --text-color: #434455; /* Body text */
  --subtle-color: #8e8f99; /* Helper text, Deemphasized text*/
  --accent-color: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --light-color: #f4f4fd; /* Light mode backgrounds, Light mode Dialogs/alerts */
  --modal-overlay-color: rgba(46, 47, 66, 0.4); /* Overlay */
  --hero-background-color: #2e2f42; /* Hero image background */
  --white-background-color: #fff; /* Header, team card background,  */
  --modal-background-color: #fcfcfc; /* Modal background */
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background-color);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: block;
}

/* GENERAL STYLES */

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section-title,
.cards-title {
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  line-height: 1.11;
}

/* LOGO */

.logo {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--primary-brand-color);
}

.dark-logo {
  color: var(--dark-color);
}

.light-logo {
  color: var(--light-color);
}

/* BUTTONS */

.order-btn,
.filters-btn,
.subscribe-btn,
.contact-btn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn,
.contact-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.order-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.contact-btn {
  height: 56px;
  margin: 0 auto;
  display: block;
}

.filters-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.order-btn:hover,
.order-btn:focus,
.order-btn:active,
.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active,
.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active {
  background-color: var(--pressed-state-color);
}

/* HEADER */

.topline {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .topline {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.navigation .logo {
  margin-right: 76px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu,
.contacts-list {
  display: flex;
  gap: 40px;
}

.navigation-menu li {
  position: relative;
}

.contacts {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }

  .navigation-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contacts {
    margin: auto 0;
  }
  .contacts-list {
    flex-direction: column;
    gap: 0;
  }

  .contacts-list .nav-links {
    padding: 6px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.contacts .link {
  font-weight: 400;
  color: var(--text-color);
}

.nav-links {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover,
.nav-links:focus {
  color: var(--pressed-state-color);
}

.current {
  position: relative;
  color: var(--pressed-state-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--pressed-state-color);
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* MOBILE MENU */

.mobile-menu-icon {
  stroke: var(--dark-color);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.burger-btn {
  min-height: 22px;
  min-width: 32px;
}

.menu-close-btn {
  min-height: 24px;
  min-width: 24px;
  background-color: var(--white-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:active {
  background-color: var(--pressed-state-color);
  border: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: var(--white-background-color);
  z-index: 999;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-link {
  color: var(--dark-color);
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: block;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.link-accent {
  color: var(--pressed-state-color);
}

.menu-container .social-media-icon-container {
  max-width: 328px;
  justify-content: space-between;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
  .mobile-contacts-item .mobile-contacts-link {
    font-size: 20px;
  }
}

.mobile-contacts-item:last-child .mobile-contacts-link {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-contacts-link {
  font-style: normal;
}

/* SOLUTIONS SECTION */

.solutions-section {
  background-color: var(--dark-color);
  padding: 112px 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 428px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg_mob@1x.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_mob@2x.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .solutions-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_tablet@1x.jpeg);
  }
}

@media screen and (min-width: 768px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1158px) {
  .solutions-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_desktop@1x.jpeg);
  }
}

@media screen and (min-width: 1158px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_desktop@2x.jpeg);
  }
}

.solutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.main-title {
  color: var(--white-background-color);
  text-align: center;
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .solutions-container {
    font-size: 56px;
    margin-bottom: 48px;
  }
}

/* BENEFITS SECTION */

.benefits-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
  }
}

.benefits-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
}

.benefits-card {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-card {
    display: block;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-card {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

.benefits-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.benefits-icon-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-icon-wrapper {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}

.benefits-icon {
  margin: 0 auto;
}

.benefits-text {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .benefits-text {
    font-weight: 400;
  }
}

/* WE DOING SECTION */

.we-doing-section {
  display: none;
}

@media screen and (min-width: 1158px) {
  .we-doing-section {
    display: block;
    padding: 0 0 120px;
  }

  .we-doing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .we-doing-container .list {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .we-doing-img-wrapper {
    flex-basis: calc((100% - (24px * 2)) / 3);
  }

  .we-doing-img {
    border: 1px solid var(--accent-color);
  }
}

/* OUR TEAM SECTION + SOCIAL MEDIA BLOCK */

.our-team-section {
  background-color: var(--light-color);
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .our-team-section {
    padding: 120px 0;
  }
}

.our-team-container {
}

.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

.team-card {
  background-color: #ffffff;
  max-width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-card {
    display: inline-flex;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-card {
    flex-basis: calc((100% - (24px * 3)) / 4);
  }
}

.team-card-wrapper {
  padding: 32px 0;
  background: var(--white-background-color);
}

.team-card-icon-container,
.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.social-media-icon-container {
  gap: 16px;
}

.social-media-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  fill: var(--light-color);
}

.sm-link:hover,
.sm-link:focus,
.sm-link:active {
  background-color: var(--pressed-state-color);
}

/* CARDS */

.cards-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin-bottom: 8px;
}

.team-card-wrapper .cards-title,
.team-card-wrapper .cards-text {
  text-align: center;
}

.cards-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

/* CUSTOMERS SECTION */

.customers-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }
}

.customers-icons-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-icons-container {
    column-gap: 24px;
    margin: 0 auto;
    max-width: 552px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-icons-container {
    column-gap: 24px;
  }
}

.customers-icons-wrapper {
  width: calc((100% - 24px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-icons-wrapper {
    width: calc((100% - (24px * 2)) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-icons-wrapper {
    width: calc((100% - 120px) / 6);
  }
}

.company-link {
  height: 100%;
  width: 100%;
  border: 1px solid var(--subtle-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-color);
}

.customers-icon {
  fill: currentColor;
}

.company-link:hover,
.company-link:focus,
.company-link:active {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

/* PROJECTS SECTION */

.projects-section {
  padding: 48px 0;
}

@media screen and (min-width: 768px) {
  .projects-section {
    padding: 64px 0 96px;
  }
}

@media screen and (min-width: 1158px) {
  .projects-section {
    padding: 100px 0 120px;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .filters-wrapper {
    margin-bottom: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .filters-wrapper {
    margin-bottom: 72px;
  }
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .projects-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .projects-wrapper {
    gap: 48px 24px;
  }
}

.project-card {
  flex-basis: 100%;
  min-width: 280px;
  max-width: 396px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .project-card {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .project-card {
    max-width: 360px;
    flex-basis: calc((100% - (24px * 2)) / 3);
  }
}

.cards-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus,
.cards-link:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-text-wrapper {
  padding: 32px 16px;
  align-self: stretch;
  border: 1px solid var(--accent-color);
  border-top: none;
  background: var(--white-background-color);
}

.project-text-wrapper .cards-text {
  margin-bottom: 0;
}

.project-card-overlay-container {
  position: relative;
  overflow: hidden;
}

.project-card-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .project-card-img {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .project-card-img {
    width: 360px;
  }
}

.project-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;

  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .project-card-overlay,
.cards-link:focus .project-card-overlay,
.cards-link:active .project-card-overlay {
  transform: translateY(0%);
}

.project-card-overlay-container .cards-text {
  color: var(--light-color);
}

/* FOOTER */

footer {
  background-color: var(--dark-color);
}

.bottom {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .bottom {
    padding: 100px 0;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .bottom-container {
    max-width: 552px;
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;
  }
}

@media screen and (min-width: 1158px) {
  .bottom-container {
    padding: 0 16px;
    max-width: 1158px;
    display: block;
  }
}

.bottom-container .light-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.bottom-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bottom-wrapper {
    align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .bottom-sub {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .bottom-info {
    margin-right: 120px;
  }

  .bottom-sm {
    margin-right: 80px;
  }
}

.footer-text {
  color: var(--light-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-m-heading {
  color: var(--white-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.bottom .sm-link:hover,
.bottom .sm-link:focus,
.bottom .sm-link:active {
  background-color: var(--success-color);
}

/* SUBSCRIBE FORM */

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-label {
  width: inherit;
}

.subscribe-input {
  display: inline-block;
  height: 40px;

  width: 100%;
  padding: 8px 16px;

  background-color: transparent;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--white-background-color);

  color: var(--white-background-color);
  opacity: 0.3;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}

.subscribe-input::placeholder {
  color: var(--white-background-color);
}

.subscribe-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
}

.subscribe-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

/* OVERLAY + MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 16px 16px;

  transform: translate(-50%, -50%);
  width: calc(100vw - 10%);
  max-width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--modal-background-color);

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.closemodal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closemodal:hover,
.closemodal:focus,
.closemodal:active {
  background-color: var(--pressed-state-color);
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closemodal:hover .close-icon,
.closemodal:focus .close-icon,
.closemodal:active .close-icon {
  fill: #fff;
}

/* CONTACT FORM */

.contact-form {
}

.input-container {
  margin-bottom: 8px;
}

.contact-label {
  margin-bottom: 4px;
  font-family: inherit;
  display: block;
  color: var(--subtle-color);
}

.contact-title {
  color: var(--dark-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contact-input-wrapper {
  position: relative;
}

.contact-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px;
  padding-left: 38px;
  background-color: transparent;

  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:focus,
.contact-input:active {
  border-color: var(--primary-brand-color);
}

.contact-input:focus + .contact-icon,
.contact-input:active + .contact-icon {
  fill: var(--primary-brand-color);
}

.contact-textarea {
  resize: none;
  height: 120px;
  padding: 8px 16px;

  color: rgba(46, 47, 66, 0.4);
}

.contact-textarea-wrapper {
  margin-bottom: 16px;
}

.contact-label,
.contact-textarea,
.contact-textarea::placeholder {
  font-family: inherit;
  letter-spacing: 0.04em;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.contact-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox-wrapper {
  margin-bottom: 24px;
}

.privacy-label {
}

.privacy-checkbox {
  width: 16px;
  height: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox-hidden:checked ~ * .privacy-checkbox {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.check-icon {
}

.privacy-policy-link {
  color: var(--primary-brand-color);
  line-height: 1.3;
  letter-spacing: 0.04em;
}
