:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5; /* CTAs, focused, active links */
  --pressed-state-color: #404bbf; /* CTAs */
  --dark-color: #2e2f42; /* Overlays, Shadows, Headinngs */
  --success-color: #31d0aa; /* Valid fields, success messages */
  --text-color: #434455; /* Body text */
  --subtle-color: #8e8f99; /* Helper text, Deemphasized text*/
  --accent-color: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --light-color: #f4f4fd; /* Light mode backgrounds, Light mode Dialogs/alerts */
  --modal-overlay-color: rgba(46, 47, 66, 0.4); /* Overlay */
  --hero-background-color: #2e2f42; /* Hero image background */
  --white-background-color: #fff; /* Header, team card background,  */
  --modal-background-color: #fcfcfc; /* Modal background */
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background-color);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: block;
}

/* GENERAL STYLES */

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section-title,
.cards-title {
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  line-height: 1.11;
}

/* BUTTONS */

.order-btn,
.filters-btn,
.subscribe-btn,
.contact-btn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-btn,
.contact-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.order-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus,
.order-btn:active,
.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active,
.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active {
  background-color: var(--pressed-state-color);
}

/* SOLUTIONS SECTION */

.solutions-section {
  background-color: var(--dark-color);
  padding: 112px 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 428px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg_mob@1x.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_mob@2x.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .solutions-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_tablet@1x.jpeg);
  }
}

@media screen and (min-width: 768px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1158px) {
  .solutions-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_desktop@1x.jpeg);
  }
}

@media screen and (min-width: 1158px) and (-webkit-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_desktop@2x.jpeg);
  }
}

.solutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.main-title {
  color: var(--white-background-color);
  text-align: center;
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .solutions-container {
    font-size: 56px;
    margin-bottom: 48px;
  }
}

/* BENEFITS SECTION */

.benefits-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
  }
}

.benefits-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
}

.benefits-card {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-card {
    display: block;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-card {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

.benefits-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.benefits-icon-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-icon-wrapper {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}

.benefits-icon {
  margin: 0 auto;
}

.benefits-text {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .benefits-text {
    font-weight: 400;
  }
}

/* WE DOING SECTION */

.we-doing-section {
  display: none;
}

@media screen and (min-width: 1158px) {
  .we-doing-section {
    display: block;
    padding: 0 0 120px;
  }

  .we-doing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .we-doing-container .list {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .we-doing-img-wrapper {
    flex-basis: calc((100% - (24px * 2)) / 3);
  }

  .we-doing-img {
    border: 1px solid var(--accent-color);
  }
}

/* OUR TEAM SECTION + SOCIAL MEDIA BLOCK */

.our-team-section {
  background-color: var(--light-color);
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .our-team-section {
    padding: 120px 0;
  }
}

.our-team-container {
}

.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

.team-card {
  background-color: #ffffff;
  max-width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-card {
    display: inline-flex;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-card {
    flex-basis: calc((100% - (24px * 3)) / 4);
  }
}

.team-card-wrapper {
  padding: 32px 0;
  background: var(--white-background-color);
}

.team-card-icon-container,
.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.social-media-icon-container {
  gap: 16px;
}

.social-media-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  fill: var(--light-color);
}

.sm-link:hover,
.sm-link:focus,
.sm-link:active {
  background-color: var(--pressed-state-color);
}

/* CARDS */

.cards-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin-bottom: 8px;
}

.team-card-wrapper .cards-title,
.team-card-wrapper .cards-text {
  text-align: center;
}

.cards-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}
